.loginForm {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
  color: #90a4ae;
}
.loginForm span {
  display: block;
  margin-bottom: 6px;
}
.loginForm label {
  color: #90a4ae;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  opacity: 0.8;
  font-size: 16px;
  transition: 0.5s;
}
.loginForm input {
  color: #b0bec5;
  background-color: #37474f;
  border-style: none;
  display: block;
  width: 100%;
  padding: 10px;
  border: 0.5px solid #eceff1;
  border-radius: 4px;
  margin-bottom: 8px;
  box-sizing: border-box;
  font-size: 1em;
}
.loginForm input:focus {
  border: 0.5px solid #eceff1;
  border-radius: 4px;
}
.loginForm button {
  color: #000000;
  background: #b388ff;
  border: none;
  margin-left: auto;
  margin-top: 15px;
  padding: 6px 12px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  width: 25%;
}
.loginForm button:hover {
  background: #b39ddb;
  transition: 0.1s;
}
